<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">
        Custom Pet Tags
       <br>
        宠物标签
      </h1>
    </div>
  </div>
  <div class="hsj">
      <div>
        --copy study by heshengjin!-请尊重原作,谢谢！<br>
      </div>
      <div>
        -qq:2356899074<br>
        原始作者->https://auth0.com/blog/managing-state-in-angular-with-ngrx-store/<br>
        原始作者->github:https://github.com/auth0-blog/pet-tags-ngrx.git<br>
      </div>
      <div>
        国内翻译作者CSDN博客地址->http://blog.csdn.net/fen747042796/article/details/74840844
      </div>
  </div>
  <router-outlet></router-outlet>
</div>


